.format{
    text-align: left;
    size: 16pv;
    padding: 30px;
    margin-top: 40px;
}

.header{
    font-weight: bold;
}
hr{
    margin-left: auto;
    margin-right: auto;
    border-width: 4px;
    color: rgb(49, 31, 218);
    border-color: rgb(49, 31, 218);;
    border-top: 0.5em;
    border-bottom: 0.5em;

}

.section{
    margin-top:50px;
}
