<div class="container format">

    <div class="info-data" style="font-size: 2em; margin-bottom: 10px;">GameSwap</div>

<div style="margin-left: 15px;">
<h2>Welcome, {{name}}</h2>
<!-- <div  style="float: left; width: 20%;" >
    <h3>My Rating</h3>
    <div>{{myrating}}</div>
    <h3>Unaccepted Swaps</h3>
    <div>
        <a [routerLink]="['/AcknowledgeSwap']">{{unacceptedSwaps}}</a>
    </div>
    <h3>Unrated Swaps</h3>
    <div>
        <a [routerLink]="['/RateSwap']">{{unratedSwaps}}</a>
    </div>

</div> -->

<div  style="float: left; width: 20%;" >
    <div class="info-box">
        <div class="text-background">My Rating</div>
        <div class="info-data">{{myrating}}</div>
    </div>

    <div class="info-box">
        <div class="text-background">Unaccepted Swaps</div>
    <div class="info-data">
        <a class={{unacceptedSwapsClass}} [routerLink]="['/AcknowledgeSwap']">{{unacceptedSwaps}}</a>
    </div>
    </div>
    <div class="info-box">
        <div class="text-background">Unrated Swaps</div>
    <div class="info-data">
        <a class={{unratedSwapsClass}} [routerLink]="['/RateSwap']">{{unratedSwaps}}</a>
    </div>
    </div>


</div>

<div style="float: right; width: 80%" >
    <div>
        <button class="link-button" mat-raised-button color="primary" style="margin-top: 15px;" (click)="onListItem()" >List Item</button>
    </div>
    <div>
        <button class="link-button" mat-raised-button color="primary" style="margin-top: 15px;" (click)="onMyItems()" >My items</button>
    </div>
    <div>
        <button class="link-button" mat-raised-button color="primary" style="margin-top: 15px;" (click)="onSearchItems()" >Search items</button>
    </div>    
    <div>
        <button class="link-button" mat-raised-button color="primary" style="margin-top: 15px;" (click)="onSwapHistory()" >Swap history</button>
    </div>   
    <div>
        <button class="link-button" mat-raised-button color="primary" style="margin-top: 15px;" (click)="onUpdateInfo()" >Update my info</button>
    </div>       
</div>
<div>
    <button class="link-button"  mat-raised-button color="primary" style="margin-top: 20px; width:100px; align-self: left;" (click)="onLogout()" >Logout</button>
</div>
</div>

</div>

