<div class="container format mat-elevation-28">
    <div><h2>Item details</h2></div>
    <div style="width: 50%;"><hr></div>
    <div class="row">
        <div class="col-sm-8">
              <div class="row">
                <div class="col-3 header " >Item No</div><div class="col ">{{item.itemId}}</div>
            </div>  
                <div class="row">
                   <div class="col-3 header">Title</div><div class="col">{{title}}</div>
                </div>
                <div class="row">
                    <div class="col-3 header">Game type</div><div class="col">{{type}}</div>
                </div>
                <div class="row" *ngIf="showPlatform">
                    <div class="col-3 header">Platform</div><div class="col">{{platform}}</div>
                </div>
                <div class="row" *ngIf="showMedia">
                    <div class="col-3 header">Media</div><div class="col">{{media}}</div>
                </div>
                <div class="row" *ngIf="showCount">
                    <div class="col-3 header">Count</div><div class="col">{{count}}</div>
                </div>
                <div class="row">
                    <div class="col-3 header">Condition</div><div class="col">{{condition}}</div>
                </div>
                <div class="row" *ngIf="showDescription">
                    <div class="col-3 header">Description</div><div class="col">{{description}}</div>
                </div>
                     
        </div>
        <div class="col {{secondColumnClass}}">
            <!-- 2nd column-->
            <div class="row">
                <div class="col-3 header">Offered by</div>
                <div class="col">{{offerBy}}</div>
            </div>
            <div class="row">
                <div class="col-3 header">Location</div>
                <div class="col">{{location}}</div>
            </div>
            <div class="row">
                <div class="col-3 header">Rating</div>
                <div class="col">{{rating}}</div>
            </div>
            <!-- <div class="row">
                <div class="col-3 header">Distance</div>
                <div class="col" name="distanceBox" id="distanceBox">{{item.distance}}</div>
            </div> -->

        </div>
    </div>
    <button class="btn btn-primary"  style="margin-top: 30px;" (click)="onBack()">Back</button>
</div>



<!--
    swapId: number;
    date: string;
    desiredItemId: string;
    desiredItemTitle: string;
    proposer:string;
    rating:number;
    distance:number;
    proposedItemId:number;
    proposedItemTittle:string;


<h1>Item Details</h1>
<h3>{{item.itemId}}</h3>
<h3>{{item.type}}</h3>
<h3>{{item.title}}</h3>
<h3>{{item.condition}}</h3>
<h3>{{item.description}}</h3>
-->